.v-card-actions {
  display: block;
}
.list {
  max-width: 750px;
}
#mytable table thead {
  background: aquamarine;
}
.truncate {
  width: 17%;
}
.truncate > span {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
