
h1 {
  color: #478dcb;
  font-weight: 900;
  font-size: 30px !important;
}

h2 {
  font-size: 1.5em !important;
  font-weight: 900;
  text-transform: unset !important;
}

h2, h3 {
  color: #356ca5;
}

.v-btn {
  * {
    text-transform: none !important;
  }
  .v-btn--elevated {
    text-transform: uppercase !important;
  }
}

// #messageBox .v-btn {
//   background-color: transparent !important;
//   border-left: 0;
// }

.icone-information,
.icone-erreur,
.icone-validation,
.icone-avertissement {
  float: left;
}

a {
  text-decoration: underline;
}

.bouton-simple {
  text-transform: none;
  letter-spacing: inherit !important;
  text-decoration: underline;
}

.bouton-simple .mdi {
  text-decoration: none !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

#titleBar {
  cursor: pointer;
}

header {
  height: auto !important;
  left: 0 !important;
  position: relative !important;
}

.mainBar {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
}

.v-data-table .thead .v-data-table-header__th {
    font-size: 12px !important;
  padding: 0;
  margin: 0;
  
}

main {
  width: calc(100vw - 100px);
  flex: 0 0 calc(100vw - 100px);
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.v-row {
  margin: 0 !important;
  padding: 0 !important;
}

#appBar .v-toolbar__content {
  height: 100% !important;
  width: 100vw;
  padding: 0;
}

#appBar .v-toolbar__image {
  z-index: -2 !important;
}

nav .v-list-item {
  width: 100%;
  min-width: 100%;
  height: auto !important;
  min-height: auto !important;
}

nav .v-list-item-title {
  font-size: 0.6rem !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}

h1 {
  font-weight: 900;
}

.v-card-title {
  font-size: 1.5em !important;
  font-weight: 900 !important;
}

.multi-line {
  white-space: pre-line;
}

.no-text-transform {
  text-transform: none !important;
}

.v-btn--elevated {
    background-color: #c64c21 !important;
    color: white !important;
}
