@use "./style.scss" as theme;

.v-theme--light main {
  --couleur-1: #cf491f;
  --couleur-2: #478dcb;
  --couleur-3: #252c61;
  --couleur-4: #b8b8b9;
  --couleur-5: #949597;
  --couleur-6: #ffffff;
  --couleur-7: #000000;
  --couleur-8: #00b600;
  --couleur-9: #e3040d;

  --bouton-1: #00b600;
  --bouton-2: #252c61;
  --bouton-3: #e3040d;

  --message-couleur-1: #e3040d;
  --message-couleur-2: #eca30f;
  --message-couleur-3: #00b600;

  --couleur-arriere-plan-1: #fac8c0;
  --couleur-arriere-plan-2: rgba(236, 163, 15, 0.15);
  --couleur-arriere-plan-3: rgba(0, 182, 0, 0.15);
  --couleur-arriere-plan-4: #f6988a;
  --couleur-arriere-plan-5: #122638;
  --couleur-arriere-plan-6: #ffffff;
  --couleur-arriere-plan-7: #000000;
  --couleur-arriere-plan-8: #6262624a;
  --couleur-arriere-plan-9: #32465b;
  --couleur-arriere-plan-10: #5f97ce;

  --couleur-fond-card: #f0f0f4;
  --couleur-fond-declaration: #e3e4ea;
  --couleur-tab: rgb(250, 250, 250);

  @include theme.styles();
}

.v-theme--dark main {
  --couleur-1: #cf491f;
  --couleur-2: #ffffff;
  --couleur-3: #ffffff;
  --couleur-4: #b8b8b9;
  --couleur-5: #949597;
  --couleur-6: #000000;
  --couleur-7: #000000;
  --couleur-8: #00b600;
  --couleur-9: #e3040d;

  --bouton-1: #00b600;
  --bouton-2: #478dcb;
  --bouton-3: #e3040d;

  --message-couleur-1: #e3040d;
  --message-couleur-2: #eca30f;
  --message-couleur-3: #00b600;

  --couleur-arriere-plan-1: #fac8c0;
  --couleur-arriere-plan-2: rgba(236, 163, 15, 0.15);
  --couleur-arriere-plan-3: rgba(0, 182, 0, 0.15);
  --couleur-arriere-plan-4: #f6988a;
  --couleur-arriere-plan-5: #b8b8b9;
  --couleur-arriere-plan-6: #000000;
  --couleur-arriere-plan-7: #ffffff;
  --couleur-arriere-plan-8: #000000;
  --couleur-arriere-plan-9: #7d7979;
  --couleur-arriere-plan-10: #7d7979;

  --couleur-fond-card: #1e1e1e;
  --couleur-fond-declaration: #1e1e1e;
  --couleur-tab: rgb(0, 0, 0);

  @include theme.styles();
}
h2 {
  font-size: 1.5em !important;
  font-weight: 900;
  text-transform: unset !important;
}

h2, h3 {
  color: #356ca5;
}

.v-btn {
  * {
    text-transform: none !important;
  }
  .v-btn--elevated {
    text-transform: uppercase !important;
  }
}

// #messageBox .v-btn {
//   background-color: transparent !important;
//   border-left: 0;
// }

.icone-information,
.icone-erreur,
.icone-validation,
.icone-avertissement {
  float: left;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.bouton-simple {
  text-transform: none;
  letter-spacing: inherit !important;
  text-decoration: underline;
}

.bouton-simple .mdi {
  text-decoration: none !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
  {
  opacity: 0;
}

#titleBar {
  cursor: pointer;
}

header {
  height: auto !important;
  left: 0 !important;
  position: relative !important;
}

.mainBar {
  height: 100%;
  width: 100vw;
  max-width: 100vw;
}

.v-data-table .thead .v-data-table-header__th {
    font-size: 12px !important;
  padding: 0;
  margin: 0;
  
}

main {
  width: calc(100vw - 100px);
  flex: 0 0 calc(100vw - 100px);
}

.v-navigation-drawer__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.v-row {
  margin: 0 !important;
  padding: 0 !important;
}

#appBar .v-toolbar__content {
  height: 100% !important;
  width: 100vw;
  padding: 0;
}

#appBar .v-toolbar__image {
  z-index: -2 !important;
}

nav .v-list-item {
  width: 100%;
  min-width: 100%;
  height: auto !important;
  min-height: auto !important;
}

nav .v-list-item-title {
  font-size: 0.6rem !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  text-align: center;
}

.v-card-title {
  font-size: 1.5em !important;
  font-weight: 900 !important;
}

.multi-line {
  white-space: pre-line;
}

.no-text-transform {
  text-transform: none !important;
}

.v-btn--elevated {
    background-color: #c64c21 !important;
    color: white !important;
}

.v-tooltip .v-overlay__content {
  max-width: 320px;
  white-space: normal;
  word-break: normal;
}